header#header .page-spacer {
  padding-top: 16px;
}

header#header .header-text h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #fff;
}

header#header .main-header-text h1{
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #C3005A;
}

header#header .logo-container {
  float: left;
  margin-right: 10px;
  width: 44px;
  height: 32px;
}

header#header .logo-link {
  text-decoration: none;
}

header#header .sub-header {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  text-align: right;
}

header#header .main-sub-header {
  color: #C3005A;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  text-align: right;
}


header#header .navigation{
  float: right;
  position:relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  padding: 0 0 0 0;
}

.logo-header-container {
  float: none;
}
